In [3]:
import pandas as pd

In [20]:
Italian_df=pd.read_csv("Resources/NYC_Italian.csv",encoding='ISO-8859-1')

In [21]:
Italian_df.head()

,Case,Restaurant,Price,Food,Decor,Service,East,latitude,longitude
0,1,Daniella Ristorante,43,22,18,20,0,40.746831,-73.996758
1,2,Tello's Ristorante,32,20,19,19,0,40.743421,-73.999537
2,3,Biricchino,34,21,13,18,0,40.748864,-73.995519
3,4,Bottino,41,20,20,17,0,40.748485,-74.003313
4,5,Da Umberto,54,24,19,21,0,40.739581,-73.995910

In [22]:
Italian_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Case        168 non-null    int64
 1   Restaurant  168 non-null    object
 2   Price       168 non-null    int64
 3   Food        168 non-null    int64
 4   Decor       168 non-null    int64
 5   Service     168 non-null    int64
 6   East        168 non-null    int64
 7   latitude    168 non-null    float64
 8   longitude   168 non-null    float64
dtypes: float64(2), int64(6), object(1)
memory usage: 11.9+ KB